body {
    background-color: #c6bfdb;
}

input {
    flex-direction: column;
    margin-bottom: 25px;
    width: 99%;
}

button {
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 4px;
    background-color: blueviolet;
    color: white;
    box-shadow: blueviolet;
}

.btn {
    margin-left: 500px;
}

.convert {
    margin-left: 150px;
    width: 100px;
}

